

<p> Welcome <%=current_user.name%>!</p>

<%= link_to "Post Items", new_item_path, class: "btn btn-log btn-primary pull-right" %>

<p><%= image_tag current_user.propic %></p>


<h1> Item Overview </h1>
<h2>
All items below have been posted by someone you are currently friends with on Facebook. </h2>

<% @items.each do |item| %>

	<p> Posted by <%= item.user.name %>
	<p> <%= link_to image_tag(item.image.url(:thumb), class: 'media-object'), item.image.url %></p>
	<p> Item Name: <%=item.name%></p>
	<p> Item Description: <%=item.description%></p>
	<p> Item Size: <%=item.size%></p>
	<%end%>



