

<p> Welcome <%=current_user.name%></p>

<%= link_to "Post Items", users_show_path, class: "btn btn-log btn-primary" %>

<p><%= image_tag current_user.propic %></p>

<h1> Scroll through all available items below! </h1>
<% @items.each do |item| %>

	<p> Need to fill in picture and name of poster</p>
	<p> Item Name: <%=item.name%></p>
	<p> Item Description: <%=item.description%></p>
	<p> Item Category: <%=item.category%></p>
	<p> Item Size: <%=item.size%></p>
	<%end%>

