<h1><%=current_user.name%> Profile Page</h1>

<p><%= image_tag current_user.propic %></p>

<%= render 'form' %>


<h2> Items You Have Posted </h2>
<% @current_user.items.each do |item| %>
	<p> Item Name: <%=item.name%></p>
	<p> Item Description: <%=item.description%></p>
	<p> Item Category: <%=item.category%></p>
	<p> Item Size: <%=item.size%></p>
	<%end%>